@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
  margin: 0;
}
.logo {
  text-align: center;
}
.logo img {
  width: 200px;
}
.firma-immagine {
  opacity: 0.5;
  text-align: center;
  margin: 0 0 3vh 0;
}
.immagine-focaccia img {
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}
h5 {
  text-align: center;
  background-color: #ffd7001c;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #ffc107c4;
}
h1 {
  text-align: center;
}
aside p {
  margin: 1px;
}
aside {
  border-left: 2px solid rgb(192, 132, 20);
  padding-left: 5px;
}
main,
footer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.ingredients {
  border-bottom: 1.5px solid rgb(0, 229, 255);
  padding-bottom: 3vh;
  font-weight: 350;
  font-size: 1.8em;
  font-family: 'Playfair Display', serif;
}
.link {
  color: red;
  font-weight: bold;
}
a {
  color: #107777;
}
.titleul {
  font-weight: bold;
}
li {
  margin: 7px;
}
